services:
  app:
    build: .
    env_file: .env
    restart: unless-stopped
    ports:
      - '3000:3000'
    depends_on:
      - db
  db:
    build:
      context: .
      dockerfile: Dockerfile.db
    env_file: .env
    restart: unless-stopped
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
