extends layout

block append head
  script.
    window._diffContext = !{context}

block content
  .flex-col.h100
    .header.shrink
      h1
        a.logo(href='/') DIƒƒER

    .main.grow
      .controls.shrink
        button.compare.hidden.pure-button(type='button') COMPARE
        button.edit.hidden.pure-button(type='button') EDIT
        button.save.hidden.pure-button(type='button') SAVE
        input#title.shrink(type='text' maxlength=64 placeholder='Название сравнения')

      .diff.shrink.hidden

      .diff-nav.hidden
        button.diff-nav-first.pure-button(type='button' aria-label='Первое изменение') ⏮
        button.diff-nav-prev.pure-button(type='button' aria-label='Предыдущее изменение') ◀
        span.diff-nav-counter 0 / 0
        button.diff-nav-next.pure-button(type='button' aria-label='Следующее изменение') ▶
        button.diff-nav-last.pure-button(type='button' aria-label='Последнее изменение') ⏭

      form#main.h100.flex-col.pure-form.hidden

        .grow
          .files.flex-row
            .editor.flex-row
              .line-num
              textarea#fileA.pure-input-1.no-select
            .delim.shrink
            .editor.flex-row
              .line-num
              textarea#fileB.pure-input-1.no-select
